services:
  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "${DB_PORT}:5432"
    restart: always
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3.10-management
    container_name: rabbitmq
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "15672:15672"
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - app-network

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "${REDIS_PORT}:6379"
    restart: always
    volumes:
      - redis_data:/data

  backend:
    build:
      context: ./docker
      dockerfile: Dockerfile
    container_name: backend
    image: laravel-backend:php8.4-laravel12
    restart: always
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - postgres
      - rabbitmq
      - redis
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - app-network
    environment:
      - HOST=0.0.0.0
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "${BACKEND_PORT}:80"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./backend:/var/www/html
    restart: always
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
volumes:
  rabbitmq_data:
  postgres_data:
    driver: local
  redis_data:
    driver: local